Organizing Tabular Data in Python

Working with list

In [1]:
house_0_list = [115910.26, 128, 4]
house_0_list

[115910.26, 128, 4]

In [2]:
#calculate the price per square meter for house_0
house_0_price_m2 = house_0_list [0]/ house_0_list [1]
house_0_price_m2

905.54890625

In [3]:
#use the append method to add the price per square meter to the end of the end of house_0
house_0_list.append(house_0_price_m2)
house_0_list[3]

905.54890625

In [4]:
#create a list for each observation and then put those together in another list
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]

houses_nested_list

[[115910.26, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 111.0, 3.0]]

In [5]:
# Append the price per square meter to each observation in houses_nested_list using a for loop
for house in houses_nested_list:
    price = house[0]/house[1]
    print (price)
    house.append(price)
houses_nested_list

905.54890625
231.9912857142857
499.61310344827587
467.4970886075949
755.8874774774774

[[115910.26, 128.0, 4.0, 905.54890625],
 [48718.17, 210.0, 3.0, 231.9912857142857],
 [28977.56, 58.0, 2.0, 499.61310344827587],
 [36932.27, 79.0, 3.0, 467.4970886075949],
 [83903.51, 111.0, 3.0, 755.8874774774774]]

Working with Dictionaries

In [6]:
#house_0 looks like as a dictionary instead of a list
house_0_dict = {
    "price_aprox_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}

house_0_dict

{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4}

In [7]:
#Calculate the price per square meter for house_0 and add it to the dictionary under the key "price_per_m2"
house_0_dict['price_per_m2'] = house_0_dict['price_aprox_usd']/house_0_dict['surface_covered_in_m2']
house_0_dict

{'price_aprox_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

In [8]:
#create a list of dictionaries
houses_rowwise = [
    {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_aprox_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_aprox_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

houses_rowwise

[{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_aprox_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_aprox_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_aprox_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_aprox_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [9]:
#Using a for loop, calculate the price per square meter and store the result under a "price_per_m2" key for each observation in houses_rowwise
for house in houses_rowwise:
    house ['price_per_m2']= house ['price_aprox_usd']/ house['surface_covered_in_m2']
houses_rowwise

[{'price_aprox_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_per_m2': 905.54890625},
 {'price_aprox_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_per_m2': 231.9912857142857},
 {'price_aprox_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_per_m2': 499.61310344827587},
 {'price_aprox_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_per_m2': 467.4970886075949},
 {'price_aprox_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_per_m2': 755.8874774774774}]

In [10]:
#calculate the mean price for houses_rowwise
house_price= []
for house in houses_rowwise:
    house_price.append(house["price_aprox_usd"])
house_price
mean_house_price = sum(house_price) / len(house_price)
mean_house_price

62888.35399999999

In [11]:
houses_columnwise = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

houses_columnwise

{'price_aprox_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [12]:
#Calculate the mean house price in houses_columnwise
mean_house_price = sum(houses_columnwise["price_aprox_usd"])/len(houses_columnwise["price_aprox_usd"])

In [13]:
#Create a "price_per_m2" column in houses_columnwise
p=houses_columnwise["price_aprox_usd"]
a=houses_columnwise["surface_covered_in_m2"]
house = []
for b,c in zip(p,a):
    price_per_m2= b/c
    house.append(price_per_m2)
print (house)
houses_columnwise['price_per_m2']=house
houses_columnwise

[905.54890625, 231.9912857142857, 499.61310344827587, 467.4970886075949, 755.8874774774774]

{'price_aprox_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54890625,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  755.8874774774774]}

Tabular Data and pandas DataFrames

In [14]:
#create a DataFrame from houses_columnwise
import pandas as pd

data = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

df_houses = pd.DataFrame(data)

df_houses

   price_aprox_usd  surface_covered_in_m2  rooms
0        115910.26                  128.0    4.0
1         48718.17                  210.0    3.0
2         28977.56                   58.0    2.0
3         36932.27                   79.0    3.0
4         83903.51                  111.0    3.0