Preparing Mexico Data

In [ ]:
import pandas as pd
from IPython.display import VimeoVideo

In [ ]:
#Read these three files into three separate DataFrames named df1, df2, and df3, respectively.
df1 = pd.read_csv('data/mexico-real-estate-1.csv')
df2 = pd.read_csv('data/mexico-real-estate-2.csv')
df3 = pd.read_csv('data/mexico-real-estate-3.csv')

Clean DF1

In [ ]:
#inspect df1 by looking at its shape attribute. Then use the info method to see the data types and number of missing values for each column. Finally, use the head method to determine to look at the first five rows of your dataset.
df1.shape
df1.info()
df1.head()

In [ ]:
#Clean df1 by dropping rows with NaN values. Then remove the "$" and "," characters from "price_usd" and recast the values in the column as floats.
#Remove Nan from data
df1.dropna(inplace=True)
#Remove $ and , from price_usd and make the variable float
df1['price_usd']=(df1['price_usd']
                  .str.replace('$', '')
                  .str.replace(',','')
                  .astype(float)
                 )
df1.info()

Clean Df2

In [ ]:
#First, drop rows with NaN values in df2. Next, use the "price_mxn" column to create a new column named "price_usd". (Keep in mind that, when this data was collected in 2014, a dollar cost 19 pesos.) Finally, drop the "price_mxn" from the DataFrame.
#Remove Nan Values
df2.dropna(inplace=True)
#Add new column
df2['price_usd']=(df2['price_mxn']/19).round(2)
#remove column
df2.drop(columns= ['price_mxn'],inplace=True)
df2.head(5)

Clean df3

In [ ]:
#Drop rows with NaN values in df3. Then use the split method to create two new columns from "lat-lon" named "lat" and "lon", respectively.
#remove Nan value
df3.dropna(inplace=True)
#split Column
df3[['lat','lon']]=df3['lat-lon'].str.split(',', expand=True)
df3.head()

In [ ]:
#Use the split method again, this time to extract the state for every house. (Note that the state name always appears after "MÃ©xico|" in each string.) Use this information to create a "state" column. Finally, drop the "place_with_parent_names" and "lat-lon" columns from the DataFrame.
#Split column from place_with_parent_names
df3['state']=df3['place_with_parent_names'].str.split('|', expand=True)[2]

#remove column place_with_parent_names and lat-lon
df3.drop(columns=['place_with_parent_names','lat-lon'],inplace=True)
df3.head()

Concatenate Dataframes

In [ ]:
#Use pd.concat to concatenate df1, df2, df3 as new DataFrame named df. Your new DataFrame should have 1,736 rows and 6 columns:"property_type", "state", "lat", "lon", "area_m2", "price_usd", and "price_per_m2"
df = pd.concat([df1,df2,df3])
print(df.shape)
df.head()

In [ ]:
df.to_csv('data/mexico-real-estate-clean.csv', index=False)